<header>
    <nav>
        <li><a href="/fighter">HOME</a></li>
        <li><a href="/fighter/new">ADD A FIGHTER</a></li>
        <li><a href="#">LOGOUT</a></li>
    </nav>
    <h1>MY UFC LIBRARY</h1>
</header>