<header>
    <nav>
        <li class="navLink"><a class="navAnchor" href="/fighter">HOME</a></li>
        <li class="navLink"><a class="navAnchor" href="/fighter/new">ADD A FIGHTER</a></li>
        <li class="navLink"><a class="navAnchor" href="#">LOGOUT</a></li>
    </nav>
    <h1>MY UFC LIBRARY</h1>
</header>