<header>
    <nav>
        <li class="navLink"><a class="navAnchor" href="/">HOME</a></li>
        <li class="navLink"><a class="navAnchor" href="/user/signup">REGISTER NEW ACCOUNT</a></li>
        <li class="navLink"><a class="navAnchor" href="/user/login">LOGIN</a></li>
    </nav>
    <h1>MY <span class="ufc">UFC</span> LIBRARY</h1>
</header>