<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/signupHeader.ejs') %>
    <main>
        <div>
            <form action="/user/login" method="POST">
                <fieldset>
                    <legend>Log In Below</legend>
                    <div id="userInputs">
                    <label>USERNAME:<br> <input type="text" name="username" required/></label>
                    <label>PASSWORD: <br><input type="password" name="password" required /></label>
                    <input type="submit" value="Login" /><br>
                    <a class="clickToLoginSignup" href="/user/signup">
                        New To My UFC? <br>
                        Click Here To Register
                    </a>
                    </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>