<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div>
            <form action="/fighter" method="post">
                <fieldset>
                    <legend>Create A New Fighter</legend>
                    <label>Name: <input type="text" name="name" placeholder="Enter Fighter Name" /></label>
                    <label>Age: <input type="number" name="age" placeholder="Enter Fighter Age" /></label>
                    <label>Weight Class: <input type="text" name="weightClass" placeholder="Fighter Weightclass" /></label>
                    <label>Hometown: <input type="text" name="hometown" placeholder="Fighter HomeTown" /></label>
                    <label>Img URL: <input type="text" name="img" placeholder="Fighter's image URL" /></label>
                    <label>Is Fighter Ready To Fight? <input type="checkbox" name="readyToFight" /></label>
                    <input type="submit" value="Create New Fighter" />
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>